@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TrainingFPTCo.Models.AssignCourseViewModel
@{
    ViewData["title"] = "Assign Course";
    ViewData["breadcrumb"] = "Home";
    ViewData["breadcrumb_active"] = "Assign Course";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3>Assign Course</h3>
        <a class="btn btn-primary" href="@Url.Action("Index", "Courses")">Back to Courses</a>
        <div class="card mt-5">
            <div class="card-header">
                <h5>Assign Course</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Assign">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="CourseId">Course</label>
                                <select asp-for="CourseId" class="form-control" disabled>
                                    <option value="@Model.CourseId">@Model.CourseName</option>
                                </select>
                                <input type="hidden" asp-for="CourseId" />
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="RoleId">Trainer</label>
                                <select asp-for="RoleId" class="form-control" asp-items="@Model.TrainerList"></select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Assign</button>
                </form>
            </div>
        </div>
    </div>
</div>