@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Trainee";
    ViewData["breadcrumb"] = "Home";
    ViewData["breadcrumb_active"] = "Trainee";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3>This is trainee page !</h3>
        <img src="btec.png" />
    </div>
</div>
